<div class="pt-75">
  <div class="layout-row align-items-center justify-content-center">
    <input
      type="date"
      class="large outlined"
      data-test-id="app-input"
      placeholder="Filter Date"
    />
    <button class="" data-test-id="submit-button">Filter</button>
  </div>
  <div class="card mx-auto table-card mt-50 pb-10">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Type</th>
          <th data-test-id="amount" class="sortable">Amount ($)</th>
          <th>Available Balance</th>
        </tr>
      </thead>

      <tbody data-test-id="records-body">
        <tr *ngFor="let ttt of txns">
          <td>{{ ttt.date }}</td>
          <td>{{ ttt.description }}</td>
          <td>{{ ttt.type === 1 ? "Debit" : "Credit" }}</td>
          <td>{{ ttt.amount }}</td>
          <td>{{ ttt.balance }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
