* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

button {
  max-width: 220px;
  height: 2rem;
  transition: 0.5s;
}

button:hover {
  cursor: pointer;
}

button.edit-button {
  background-color: lightgreen;
}

button.delete-button {
  background-color: orangered;
}

button,
input {
  border-radius: 0.3rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

input {
  background-color: lightblue;
  color: royalblue;
  font-weight: bold;
}

input:focus {
  filter: grayscale(100%);
}

span {
  text-align: left;
}

.hidden {
  display: none;
}

li {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr auto auto;
  margin-top: 1rem;
  overflow-x: auto;
}

ul li {
  list-style: none;
  padding: 0.5rem;
}
